body {
  background-color; 333l;
  background-repeat: no-repeat;
  background-attachment: fixed;   
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(247, 43, 145);
  font-family: "Lucida Console", "Courier New", monospace;

}

h5 {
  text-align: center;
  color:white;
  font-family: "Lucida Console", "Courier New", monospace;
 font-size: large;
margin-bottom: 1em;

}
.container {
  width: 200;
  height: 50vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 80px
  grid-template-rows: 80px;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine"
  ;
  grid-gap: 0 ;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  margin: 5px;
  align-items: center;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
}

.box img {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  transition: all 0.5s;

  
  
}

img:hover {
  transform: scale(1.2);
}

.box:hover {
  width: 350px;
  height: 350px;
  cursor: pointer;
  z-index: 1;
}

.box:nth-child(1) {
  grid-area: one;
}

.box:nth-child(2) {
  grid-area: two;
}

.box:nth-child(3) {
  grid-area: three;
}

.box:nth-child(4) {
  grid-area: four;
}

.box:nth-child(5) {
  grid-area: five;
}

.box:nth-child(6) {
  grid-area: six;
}

.box:nth-child(7) {
  grid-area: seven;
}

.box:nth-child(8) {
  grid-area: eight;
}

.box:nth-child(9) {
  grid-area: nine;
}
